.App {
  text-align: center;
  min-height: 100vh;
}
#txtTaskTitle, #txtTaskBody{
  width: 275px;
  border-radius: 1em;
}
.list{
  border: 1px solid steelblue;
  border-radius: 10px;
  padding: 0.3rem 1rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.list.finished > .task{
  filter: opacity(0.65);
}
.header{
  text-align: start;
  text-decoration: underline;
}
.task .btn{
  font-size: 80%;
  font-weight: 600;
  color: rgb(33, 37, 41);
}
.task .btn:active{
  color: rgb(157, 172, 187);

}